.container_Experiencia {   
    width: 1130px;
    height: 550px;
    display: flex;
    border: 7px solid #696868;
    background-image: url(../images/Gricesito.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: space-between;
    color: blanchedalmond;
    margin-top: 30px;
    margin-left: 110px;
}

.DesExperiencia {
    width: 430px;
    height: 228px;
    margin-left: 45px;
    text-align: justify;
    border-radius: 30px;
    background: linear-gradient(to left top, #594F4F, #0F0E0E);
    opacity: 0.7; /*transparecia*/
    transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.DesExperiencia p {
    font-family: serif;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
}

.Descrip{
    display: flex;
    border-radius: 15px;
    display: block;
    position: absolute;
    width: 950px;
    height: 230px;
    margin-top: 290px;
    margin-left: 90px;
}

.Descrip img {
    width: 350px;
    height: 195px;
    margin-left: 75px;
    margin-top: 18px;
    border-radius: 20px;
}

/* -------------------------------------RESPONSIVE------------------------------------------ */

@media screen and (min-width: 750px) and (max-width: 900px) {
    
    .container_Experiencia {   
        width: 670px;
        height: 454px;
        display: flex;
        border: 7px solid #696868;
        background-image: url(../images/Gricesito.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        justify-content: space-between;
        color: blanchedalmond;
        margin-top: 40px;
        margin-left: 40px;
    }
    
    .Descrip{
        display: flex;
        border-radius: 15px;
        display: block;
        position: absolute;
        width: 555px;
        height: 195px;
        margin-top: 240px;
        margin-left: 56px;
    }
    .Descrip img {
        width: 220px;
        height: 150px;
        margin-left: 15px;
        margin-top: 22px;
        border-radius: 20px;
    }

    .DesExperiencia {
        width: 290px;
        height: 198px;
        margin-left: 16px;
        text-align: justify;
        border-radius: 30px;
        background: linear-gradient(to left top, #594F4F, #0F0E0E);
        opacity: 0.7; /*transparecia*/
        transition: background-color 0.2s ease-out,
                  color 0.2s ease-out;
    }

    .List1 li {

        margin-left: 26px;
        font-family: serif;
        font-size: 15px;
    }

    ul {

        padding-inline-start: 0px;
    }

    .DesExperiencia p {
        font-family: serif;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 15px;
    }


}

@media screen and (min-width: 750px) and (max-width: 764px){
    .container_Experiencia {   
        margin-top: 40px;
        margin-left: 40px;
    }
    
}

@media screen and (min-width: 765px) and (max-width: 784px){
    .container_Experiencia {   
        margin-top: 35px;
        margin-left: 50px;
    }
    
}

@media screen and (min-width: 785px) and (max-width: 804px){
    .container_Experiencia {   
        margin-top: 35px;
        margin-left: 60px;
    }
    
}
@media screen and (min-width: 805px) and (max-width: 824px){
    .container_Experiencia {   
        margin-top: 35px;
        margin-left: 70px;
    }
    
}

@media screen and (min-width: 825px) and (max-width: 844px){
    .container_Experiencia {   
        margin-top: 35px;
        margin-left: 80px;
    }
    
}

@media screen and (min-width: 845px) and (max-width: 864px){
    .container_Experiencia {   
        margin-top: 35px;
        margin-left: 90px;
    }
    
}

@media screen and (min-width: 865px) and (max-width: 884px){
    .container_Experiencia {   
        margin-top: 35px;
        margin-left: 100px;
    }
    
}

@media screen and (min-width: 885px) and (max-width: 900px){
    .container_Experiencia {   
        margin-top: 35px;
        margin-left: 110px;
    }
    
}