.container_Perfil {   
    width: 1130px;
    height: 550px;
    display: flex;
    border: 7px solid #D353D6;
    background-image: url(../images/Fucsia\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: space-between;
    color: blanchedalmond;
    margin-top: 30px;
    margin-left: 110px;
}

