body, html {
    margin: 0;
    background-color: #0F0E0E;
}

.container_Principal {   
    width: 1130px;
    height: 550px;
    display: flex;
    border: 7px solid #47D2B1;
    background-image: url(../images/Fondo.jpg);
    justify-content: space-between;
    color: blanchedalmond;
    margin-top: 30px;
    margin-left: 110px;
}

.principal{
    border-radius: 15px;
    display: block;
    position: absolute;
    width: 980px;
    height: 250px;
    margin-top: 265px;
    margin-left: 70px;
    text-align: justify;
}

.botones1 {
    width: 240px;
    height: 80px;
    margin-top: 10px;
    background-color:#0F0E0E;
    margin-left: 175px ;
    color: white;
    border: 3px solid white;
    font-size: 40px;
    font-family: serif;
    font-style: italic;
    border-radius: 20px;

}

#containerBotones2 {
    /* border: 2px solid violet; */
    margin-top: 40px;
   
}
.CuerpoTitle {
    margin-right: 96px;
}

.ContainerText {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 30px;
    font-family: sans-serif;
    font-size: 17px;
    margin-top: 40px;
}

.ContainerText p{
    font-family: serif;
    font-size: 20px;
    margin: 5px;
    text-align: justify;
}


